<a href="https://colab.research.google.com/github/JoaquinMenendezz/Teste_pratico_work_at_olist/blob/main/Analisar_olist_order_payments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Teste prático (work-at-olist-data) Análise de order_payments

Este notebook forma parte do teste prático work-at-olist.

É um teste prático para os candidatos ao processo seletivo de cientistas, analistas e engenheiros de dados para o time de Business Science & Analytics do olist.

O teste utiliza dados amostrais reais do banco de dados da empresa.

Não pretendo participar do processo seletivo, só usar como case de estudo.

Neste notebook vou analisar o dataset olist_order_payments_dataset.csv.

No final vou criar um arquivo .csv só com as colunas que, acredito, sejam interessantes para juntar com outros arquivos criados em base aos outros datasets do teste.

No [Readme](https://github.com/JoaquinMenendezz/Teste_pratico_work_at_olist/edit/main/README.md) do repositório está tudo explicado de forma mais detalhada.

No análise deste dataset não vou me preocupar muito por:
- Printar resultados
- Uso de funções personalizadas
- Uso de gráficos

Não vou eliminar nenhum registro do dataset até analisar todo o conjunto do banco de dados.

Visto que não falei com ninguém para entender mais sobre o negócio vou tirar minhas próprias conclusões, mas vou deixar registradas as dúvidas que tiraria com quem entende do negócio e já trabalha com esse dataset.

### Principais dados obtidos:

- Valor total de vendas = R$ 16.008.872,12

- Quantidade de vendas = 99440

- Valor máximo de 1 venda = R$ 13.664,08

- Valor médio de vendas = R$ 160.99

- Valor mínimo de 1 venda = R$ 9,59

---

- Ranking de formas de pagamento em R$ =

    - Cartão de crédito R$ 12.542.084,19
    - Boleto R$ 2.869.361,27
    - Cartão de débito R$ 217.989,79
    - Voucher R$ 379.436,87.

- Ranking de formas de pagamento em % (R$) =
    - Cartão de crédito % 78,34
    - Boleto % 17,92
    - Cartão de débito % 1.36
    - Voucher % 2,37

- Ranking de formas de pagamento em Quantidade =
    - Cartão de crédito 77115
    - Boleto 19785
    - Cartão de débito 1582
    - Voucher 5775

- Ranking de formas de pagamento em % (Quantidade) =
    - Cartão de crédito % 76,95
    - Boleto % 19,90
    - Cartão de débito % 1.54
    - Voucher % 3,89

---

- Quantidade de vendas que utilizaram voucher = 3866

- Quantidade de vendas só com voucher = 1621

- Valor de vendas só com voucher = R$ 185.422,28

- Porcentagem de vendas só com voucher (R$) = % 1,15

---

- Quantidade de vendas sem voucher = 95.574

- Valor total das vendas sem voucher = 	R$ 15.629.435,25

---

- Quantidade máxima de parcelas = 24

---

- Quantidade de vendas com numero de parcelas 0 = 2

- Quantidade de vendas com valor 0 = 3

### Importando Pandas

In [1]:
import pandas as pd

### Importando dados

In [2]:
df_order_payments = pd.read_csv('olist_order_payments_dataset.csv', sep = ',')

# Conheçendo o dataset

In [3]:
# Ver quantidade de Linhas e Colounas

df_order_payments.shape

(103886, 5)

In [4]:
# Ver Column, Non-Null, Count, Dtype

df_order_payments.info()

#Payment_sequential é ??? Conversaría com alguem que entende do negócio para que me explique.
#payment_type é tipo de pagamento
#payment_installments é quantidade de parcelas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [5]:
#Ver 20 random

df_order_payments.sample(20)

#Preciso entender que é payment_sequential.

,order_id,payment_sequential,payment_type,payment_installments,payment_value
80893,57a0aadef1c7db2296177ef296c89517,1,boleto,1,92.50
16175,912343626f370ead5ef2e85a9d757e22,1,credit_card,10,3242.84
68012,59c1736899bb709593b369f89fbf2574,1,boleto,1,75.11
17735,4ee4c7c2fa34f8e2a66accd827f53d1f,1,boleto,1,25.23
69971,c378d1766ed412f14e38a4fd8547f9e9,1,credit_card,2,21.77
45889,7da1331ba1360722203a1815d5e80844,1,boleto,1,59.22
5710,a6da096d974acc000962856d7386448a,1,credit_card,1,35.00
97760,9faf745260884e1db917c4716491d1dd,1,credit_card,10,333.54
89131,9e0ca19fb3cd696e318f58f0613ee8b1,1,credit_card,2,127.90
73244,ca2bf936bb1f3bc31d83dd119beb1efc,1,credit_card,7,75.43
7875,67b50899f52995848c427e361e10dde3,1,credit_card,3,108.43
53854,ae9d0bf6ee87cd0c5477703af0183e3d,1,credit_card,2,160.16
76976,2f730a899936d8cce7319fb4f6d0cd5a,1,credit_card,3,144.94
93514,c140205cbbe8c442615a6a64cca7497e,1,credit_card,1,43.10
84144,52334e03e9dc25babfc8207b509b2acc,1,credit_card,1,68.47
43159,db840ba7f7a60faf5eff58723492dfe1,1,credit_card,1,150.59
56173,c7d68d01dba810b5715f4a0f183833df,1,credit_card,3,145.59
34392,6a0ac163171ef70a5386eae45e6a799e,1,boleto,1,110.02
29714,e393acae9e64be5b2a7d48ef2ae87710,2,credit_card,1,5.43
78485,39b7a4274b467163628ad2c5736f9209,1,credit_card,1,73.50

In [6]:
# Ver valores unicos em cada coluna.

df_order_payments.nunique()

#ver order_id repetidas
#ver payment_sequential
#ver payment_installments
#ver payment_type

order_id                99440
payment_sequential         29
payment_type                5
payment_installments       24
payment_value           29077
dtype: int64

In [7]:
#Criar varíavel com quantidade de order_id únicas

quantidade_order_id_unica = df_order_payments['order_id'].nunique()
quantidade_order_id_unica

99440

##Order_id e payment_sequential

In [8]:
#ver order_id repetidas

#Criar um novo DS para manipular os repetidos

df_order_payments_order_id_repetido = df_order_payments.copy()

#selecionar os não repetidos
#Criar uma lista com os que não se repetem
#Eliminar os não repetidos do df

#selecionar os  não repetidos
quantidade_order_id_repetido = df_order_payments_order_id_repetido.groupby("order_id").count()
orders_id_unico = pd.DataFrame(quantidade_order_id_repetido.query("payment_type<2").index)

#Criar a lista
s_orders_id_unico = orders_id_unico['order_id'].tolist()

# Eliminar os não repetidos do DF
df_order_payments_order_id_repetido = df_order_payments_order_id_repetido.drop(df_order_payments_order_id_repetido[df_order_payments_order_id_repetido['order_id'].isin(s_orders_id_unico)].index)

#Mostrar 20 primeiros
df_order_payments_order_id_repetido.sort_values(by =['order_id', 'payment_sequential'], ascending = False)
#Entendi que se repetem pelo payment_sequential, pelo que entendi buscando em internet, indica que foi cobrado o valor total em varias vezes e alguns deles em varias payment_type.

,order_id,payment_sequential,payment_type,payment_installments,payment_value
28537,ffc730a0615d28ec19f9cad02cb41442,2,credit_card,1,12.63
75188,ffc730a0615d28ec19f9cad02cb41442,1,credit_card,1,14.76
3009,ffa39020fe7c8a3e907320e1bec4b985,2,voucher,1,64.01
32912,ffa39020fe7c8a3e907320e1bec4b985,1,credit_card,1,7.13
21648,ffa1dd97810de91a03abd7bd76d2fed1,2,voucher,1,418.73
...,...,...,...,...,...
10244,0071ee2429bc1efdc43aa3e073a5290e,1,voucher,1,100.00
98894,002f19a65a2ddd70a090297872e6d64e,2,voucher,1,33.18
20036,002f19a65a2ddd70a090297872e6d64e,1,voucher,1,44.11
80856,0016dfedd97fc2950e388d2971d718c7,2,voucher,1,17.92
89575,0016dfedd97fc2950e388d2971d718c7,1,credit_card,5,52.63

In [9]:
#Conferir se tem não repetidos

df_order_payments_order_id_repetido['order_id'].value_counts(ascending=True)

#Não tem

5cfd514482e22bc992e7693f0e3e8df7     2
b157079a62d77688a0f66043aa1f0306     2
84c6aab1664b33eb5607e118dc4bced8     2
97a2cf1bcffc778d8661d305a6d344f9     2
f0480d88b450df6f626639e82382b722     2
                                    ..
fedcd9f7ccdc8cba3a18defedd1a5547    19
895ab968e7bb0d5659d16cd74cd1650c    21
285c2e15bebd4ac83635ccc563dc71f4    22
ccf804e764ed5650cd8759557269dc13    26
fa65dad1b0e818e3ccc5cb0e39231352    29
Name: order_id, Length: 2961, dtype: int64

In [10]:
#Ver algum dos order_id que se repetem para tentar entender melhor, ordenados por payment_sequential (Aqui vi vários)

df_order_payments_order_id_repetido.query("order_id == 'fedcd9f7ccdc8cba3a18defedd1a5547'").sort_values('payment_sequential')

#Entendi que se repetem pelo payment_sequential, pelo que entendi buscando em internet, indica que foi cobrado o valor total em varias vezes e alguns deles em varias payment_type.
#Pode aparecer diferente payment_type no mesmo order_id

,order_id,payment_sequential,payment_type,payment_installments,payment_value
9665,fedcd9f7ccdc8cba3a18defedd1a5547,1,credit_card,1,1.67
27087,fedcd9f7ccdc8cba3a18defedd1a5547,2,voucher,1,7.76
87783,fedcd9f7ccdc8cba3a18defedd1a5547,3,voucher,1,26.94
45197,fedcd9f7ccdc8cba3a18defedd1a5547,4,voucher,1,10.33
36869,fedcd9f7ccdc8cba3a18defedd1a5547,5,voucher,1,9.76
103569,fedcd9f7ccdc8cba3a18defedd1a5547,6,voucher,1,8.60
95493,fedcd9f7ccdc8cba3a18defedd1a5547,7,voucher,1,11.78
15930,fedcd9f7ccdc8cba3a18defedd1a5547,8,voucher,1,31.43
14352,fedcd9f7ccdc8cba3a18defedd1a5547,9,voucher,1,5.30
44641,fedcd9f7ccdc8cba3a18defedd1a5547,10,voucher,1,13.27
15264,fedcd9f7ccdc8cba3a18defedd1a5547,11,voucher,1,8.42
62558,fedcd9f7ccdc8cba3a18defedd1a5547,12,voucher,1,9.76
32396,fedcd9f7ccdc8cba3a18defedd1a5547,13,voucher,1,5.84
18175,fedcd9f7ccdc8cba3a18defedd1a5547,14,voucher,1,7.63
7548,fedcd9f7ccdc8cba3a18defedd1a5547,15,voucher,1,10.66
64520,fedcd9f7ccdc8cba3a18defedd1a5547,16,voucher,1,9.54
48288,fedcd9f7ccdc8cba3a18defedd1a5547,17,voucher,1,7.51
87292,fedcd9f7ccdc8cba3a18defedd1a5547,18,voucher,1,11.12
35657,fedcd9f7ccdc8cba3a18defedd1a5547,19,voucher,1,8.42

In [11]:
#Mesmo do anterior, só que ordenado por payment_value

df_order_payments_order_id_repetido.query("order_id == 'fedcd9f7ccdc8cba3a18defedd1a5547'").sort_values('payment_value')

#Tem valores que se repetem e tem valores similares.

#Vou seguir com outra coisa por enquanto

,order_id,payment_sequential,payment_type,payment_installments,payment_value
9665,fedcd9f7ccdc8cba3a18defedd1a5547,1,credit_card,1,1.67
14352,fedcd9f7ccdc8cba3a18defedd1a5547,9,voucher,1,5.30
32396,fedcd9f7ccdc8cba3a18defedd1a5547,13,voucher,1,5.84
48288,fedcd9f7ccdc8cba3a18defedd1a5547,17,voucher,1,7.51
18175,fedcd9f7ccdc8cba3a18defedd1a5547,14,voucher,1,7.63
27087,fedcd9f7ccdc8cba3a18defedd1a5547,2,voucher,1,7.76
15264,fedcd9f7ccdc8cba3a18defedd1a5547,11,voucher,1,8.42
35657,fedcd9f7ccdc8cba3a18defedd1a5547,19,voucher,1,8.42
103569,fedcd9f7ccdc8cba3a18defedd1a5547,6,voucher,1,8.60
64520,fedcd9f7ccdc8cba3a18defedd1a5547,16,voucher,1,9.54
62558,fedcd9f7ccdc8cba3a18defedd1a5547,12,voucher,1,9.76
36869,fedcd9f7ccdc8cba3a18defedd1a5547,5,voucher,1,9.76
45197,fedcd9f7ccdc8cba3a18defedd1a5547,4,voucher,1,10.33
7548,fedcd9f7ccdc8cba3a18defedd1a5547,15,voucher,1,10.66
87292,fedcd9f7ccdc8cba3a18defedd1a5547,18,voucher,1,11.12
95493,fedcd9f7ccdc8cba3a18defedd1a5547,7,voucher,1,11.78
44641,fedcd9f7ccdc8cba3a18defedd1a5547,10,voucher,1,13.27
87783,fedcd9f7ccdc8cba3a18defedd1a5547,3,voucher,1,26.94
15930,fedcd9f7ccdc8cba3a18defedd1a5547,8,voucher,1,31.43

##Payment_sequential

In [12]:
#ver payment_sequential

df_order_payments['payment_sequential'].value_counts()

#Como não tenho acesso, ainda, a alguem que trabalhe na empresa, e não tenho certeza de como funciona, vou deixar quieto.

1     99360
2      3039
3       581
4       278
5       170
6       118
7        82
8        54
9        43
10       34
11       29
12       21
13       13
14       10
15        8
18        6
19        6
16        6
17        6
21        4
20        4
22        3
26        2
24        2
23        2
25        2
29        1
28        1
27        1
Name: payment_sequential, dtype: int64

##Payment_installments

É a quantidade de parcelas

In [13]:
#Análise descritiva

df_order_payments['payment_installments'].describe()

#0 parcelas parece extranho, vou verificar

count    103886.000000
mean          2.853609
std           2.687307
min           0.000000
25%           1.000000
50%           1.000000
75%           4.000000
max          24.000000
Name: payment_installments, dtype: float64

In [14]:
#Ver os payment_installments (quantidade de parcelas)

df_order_payments['payment_installments'].value_counts()

#0 parcelas parece extranho, vou verificar
#Aceitamos pagos em até 24 parcelas

1     52543
2     12413
3     10461
4      7098
10     5331
5      5239
8      4268
6      3920
7      1626
9       644
12      133
15       74
18       27
11       23
24       18
20       17
13       16
14       15
17        8
16        5
21        3
0         2
22        1
23        1
Name: payment_installments, dtype: int64

In [15]:
#Ver payment_installments = 0

df_order_payments.query("payment_installments<1")

#Vou deixa-los, pois acredito que não vai dar problema. Insistindo que conversaría com alguem que entende do negócio.
#Vou análisar os order_id com payment_installments junto com os dados de outros DB.

,order_id,payment_sequential,payment_type,payment_installments,payment_value
46982,744bade1fcf9ff3f31d860ace076d422,2,credit_card,0,58.69
79014,1a57108394169c0b47d8f876acc9ba2d,2,credit_card,0,129.94

In [16]:
#Ver  payment_installments = 0 -> order_id 744bade1fcf9ff3f31d860ace076d422 se se repete o order_id

df_order_payments.query("order_id == '744bade1fcf9ff3f31d860ace076d422' " )

#Não.

,order_id,payment_sequential,payment_type,payment_installments,payment_value
46982,744bade1fcf9ff3f31d860ace076d422,2,credit_card,0,58.69

In [17]:
#Ver  payment_installments = 0 -> order_id 1a57108394169c0b47d8f876acc9ba2d se se repete o order_id

df_order_payments.query("order_id == '1a57108394169c0b47d8f876acc9ba2d' " )

#Não.

,order_id,payment_sequential,payment_type,payment_installments,payment_value
79014,1a57108394169c0b47d8f876acc9ba2d,2,credit_card,0,129.94

##Payment_value

In [18]:
#Análise descritivo

df_order_payments['payment_value'].describe()

#Posso ver ticket médio - NÃO POSSO, PORQUE ESTÃO SEPARADOS ALGUNS VALORES DE COMPRA e se repete o mesmo order_id (identificação de compra)
#Vou revisar payment_value máximo.
#Vou revisar payment_value com valor 0

count    103886.000000
mean        154.100380
std         217.494064
min           0.000000
25%          56.790000
50%         100.000000
75%         171.837500
max       13664.080000
Name: payment_value, dtype: float64

In [19]:
#Ver soma dos payment_value

soma_dos_payment_value = df_order_payments.query("payment_value > 0")['payment_value'].sum()

soma_dos_payment_value

16008872.12

###Payment_value == 0

In [20]:
#Revisar payment_value com valor 0

df_order_payments.query("payment_value == 0").sort_values('order_id')

#São sempre payment_type voucher, com payment_sequential>1, ou payment_type not_defined com payment_sequential = 1
#Vou ver algum order_id para tentar entender melhor.
#Aparece

,order_id,payment_sequential,payment_type,payment_installments,payment_value
57411,00b1cb0320190ca0daa2c88b35206009,1,not_defined,1,0.0
62674,45ed6e85398a87c253db47c2d9f48216,3,voucher,1,0.0
51280,4637ca194b6387e2d538dc89b124b0ee,1,not_defined,1,0.0
43744,6ccb433e00daae1283ccc956189c82ae,4,voucher,1,0.0
19922,8bcbe01d44d147f901cd3192671144db,4,voucher,1,0.0
100766,b23878b3e8eb4d25a158f57d96331b18,4,voucher,1,0.0
94427,c8c528189310eaa44a745b8d9d26908b,1,not_defined,1,0.0
36822,fa65dad1b0e818e3ccc5cb0e39231352,14,voucher,1,0.0
77885,fa65dad1b0e818e3ccc5cb0e39231352,13,voucher,1,0.0

In [21]:
#Revisar order_id com soma de payment_value == 0

df_order_payments.groupby('order_id').sum().sort_values('payment_value')

#Só tem 3.
#Vou calcular o ticket médio sem eles, mas não vou tirar do DS para poder análisar com os dados dos outros DS juntos.

,payment_sequential,payment_installments,payment_value
order_id,,,
4637ca194b6387e2d538dc89b124b0ee,1,1,0.00
00b1cb0320190ca0daa2c88b35206009,1,1,0.00
c8c528189310eaa44a745b8d9d26908b,1,1,0.00
f1d5c2e6867fa93ceee9ef9b34a53cbf,3,2,9.59
e8bbc1d69fee39eee4c72cb5c969e39d,1,1,10.07
...,...,...,...
f5136e38d1a14a4dbd87dff67da82701,1,1,6726.66
fefacc66af859508bf1a7934eab1e97f,1,1,6922.21
0812eb902a67711a1cb742b3cdaa65ae,1,8,6929.31
736e1922ae60d0d6a89247b851902527,1,1,7274.88
03caa2c082116e1d31e67e9ae3700499,1,1,13664.08

In [22]:
#Ver order_id com payment_value == 0 (Vou ver vários)

df_order_payments.query("order_id == 'fa65dad1b0e818e3ccc5cb0e39231352'" ).sort_values('payment_value')

#Pode aparecer mais de um payment_value = 0 no mesmo order_id
#Como pretendo juntar os order_id iguais numa linha só e sumar os payment_value, não vou alterar nada.

,order_id,payment_sequential,payment_type,payment_installments,payment_value
77885,fa65dad1b0e818e3ccc5cb0e39231352,13,voucher,1,0.00
36822,fa65dad1b0e818e3ccc5cb0e39231352,14,voucher,1,0.00
82593,fa65dad1b0e818e3ccc5cb0e39231352,7,voucher,1,0.32
99213,fa65dad1b0e818e3ccc5cb0e39231352,24,voucher,1,0.42
28330,fa65dad1b0e818e3ccc5cb0e39231352,5,voucher,1,0.66
80321,fa65dad1b0e818e3ccc5cb0e39231352,18,voucher,1,0.73
17274,fa65dad1b0e818e3ccc5cb0e39231352,9,voucher,1,1.08
65641,fa65dad1b0e818e3ccc5cb0e39231352,3,voucher,1,2.95
73537,fa65dad1b0e818e3ccc5cb0e39231352,12,voucher,1,3.60
24879,fa65dad1b0e818e3ccc5cb0e39231352,25,voucher,1,3.68
14321,fa65dad1b0e818e3ccc5cb0e39231352,1,voucher,1,3.71
79670,fa65dad1b0e818e3ccc5cb0e39231352,17,voucher,1,3.72
100606,fa65dad1b0e818e3ccc5cb0e39231352,22,voucher,1,4.03
32519,fa65dad1b0e818e3ccc5cb0e39231352,11,voucher,1,4.03
74239,fa65dad1b0e818e3ccc5cb0e39231352,21,voucher,1,4.11
74721,fa65dad1b0e818e3ccc5cb0e39231352,19,voucher,1,5.02
29648,fa65dad1b0e818e3ccc5cb0e39231352,6,voucher,1,5.02
23074,fa65dad1b0e818e3ccc5cb0e39231352,2,voucher,1,8.51
78050,fa65dad1b0e818e3ccc5cb0e39231352,16,voucher,1,12.86
19565,fa65dad1b0e818e3ccc5cb0e39231352,10,voucher,1,12.86
63369,fa65dad1b0e818e3ccc5cb0e39231352,15,voucher,1,14.04
85166,fa65dad1b0e818e3ccc5cb0e39231352,23,voucher,1,18.86
39108,fa65dad1b0e818e3ccc5cb0e39231352,29,voucher,1,19.26
68853,fa65dad1b0e818e3ccc5cb0e39231352,8,voucher,1,26.02
79587,fa65dad1b0e818e3ccc5cb0e39231352,26,voucher,1,28.27
39111,fa65dad1b0e818e3ccc5cb0e39231352,28,voucher,1,29.05
9985,fa65dad1b0e818e3ccc5cb0e39231352,4,voucher,1,29.16
4885,fa65dad1b0e818e3ccc5cb0e39231352,27,voucher,1,66.02
93337,fa65dad1b0e818e3ccc5cb0e39231352,20,voucher,1,150.00

In [23]:
#Ver estatística descritiva com os order_id válidos com valores sumados.

df_order_payments.query("payment_value > 0").groupby('order_id').sum().describe()

#Aqui sim podemos ver os valores reais de cada order_id único.

       payment_sequential  payment_installments  payment_value
count        99437.000000          99437.000000   99437.000000
mean             1.141114              2.981194     160.995124
std              2.738480              2.741877     221.952843
min              1.000000              0.000000       9.590000
25%              1.000000              1.000000      62.010000
50%              1.000000              2.000000     105.290000
75%              1.000000              4.000000     176.970000
max            408.000000             27.000000   13664.080000

##Payment_type

In [24]:
#Ver valores de payment_type e contar quantas vezes se repete cada um

df_order_payments['payment_type'].value_counts().sort_values(ascending=False)

#Como no mesmo order_id pode aparecer varias vezes o payment_type, não tem muito sentido contar dessa forma.
#Vou usar o payment_type com maior soma de payment_value em cada id_order.
#Temos valor de payment_type como not_defined

credit_card    76795
boleto         19784
voucher         5775
debit_card      1529
not_defined        3
Name: payment_type, dtype: int64

In [25]:
#Ver order_id com payment_type not-defined

df_order_payments.query("payment_type == 'not_defined'")

#Tem payment_value = 0.
#Não vou tirar do DS para poder análisar com os dados dos outros DS juntos.

,order_id,payment_sequential,payment_type,payment_installments,payment_value
51280,4637ca194b6387e2d538dc89b124b0ee,1,not_defined,1,0.0
57411,00b1cb0320190ca0daa2c88b35206009,1,not_defined,1,0.0
94427,c8c528189310eaa44a745b8d9d26908b,1,not_defined,1,0.0

In [26]:
#ver soma do payment_value por payment_type

df_order_payments.groupby('payment_type').sum().sort_values('payment_value', ascending = False)

#Daqui so server a última coluna.

              payment_sequential  payment_installments  payment_value
payment_type
credit_card                77115                269341    12542084.19
boleto                     19785                 19802     2869361.27
voucher                    15029                  5775      379436.87
debit_card                  1582                  1529      217989.79
not_defined                    3                     3           0.00

In [27]:
#Ver a porcentagem da soma de cada payment_type

(df_order_payments.groupby('payment_type')['payment_value'].sum() / soma_dos_payment_value * 100).sort_values(ascending = False)

#ok

payment_type
credit_card    78.344584
boleto         17.923569
voucher         2.370166
debit_card      1.361681
not_defined     0.000000
Name: payment_value, dtype: float64

In [28]:
#Ver quantidade de order_id unicas com cada payment_type

df_order_payments.groupby('payment_type').nunique().sort_values('order_id', ascending = False)

#Aqui podemos ver quantidade de order_id com cada payment_type. Lembrando que 1 order_id pode ter mais de 1 payment_type

,order_id,payment_sequential,payment_installments,payment_value
payment_type,,,,
credit_card,76505,3,24,25499
boleto,19784,2,2,10541
voucher,3866,29,1,3539
debit_card,1528,3,1,1383
not_defined,3,1,1,1

In [29]:
#Ver % de order_id usando cada payment_type

compras_voucher = df_order_payments.query("payment_type == 'voucher'")['order_id'].nunique() / quantidade_order_id_unica * 100
compras_credito = df_order_payments.query("payment_type == 'credit_card'")['order_id'].nunique() / quantidade_order_id_unica * 100
compras_boleto = df_order_payments.query("payment_type == 'boleto'")['order_id'].nunique() / quantidade_order_id_unica * 100
compras_debito = df_order_payments.query("payment_type == 'debit_card'")['order_id'].nunique() / quantidade_order_id_unica * 100

compras_por_tipo_pagamento = pd.DataFrame({'Tipo de Pagamento': ['Crédito', 'Boleto', 'Voucher', 'Débito'], '%': [compras_credito, compras_boleto, compras_voucher, compras_debito] })
compras_por_tipo_pagamento

#Lembrando que 1 order_id pode ter mais de 1 payment_type. Por isso vai a soma das porcentagens vai ser maior que 100%

  Tipo de Pagamento          %
0           Crédito  76.935841
1            Boleto  19.895414
2           Voucher   3.887772
3            Débito   1.536605

###payment_type == voucher

Ver se existem compras feitas só com voucher.

In [30]:
#Ver se existem compras feitas só com voucher.

#Fazer uma lista com os order_id de cada payment_type
#Criar uma lista com order_id repetidos entre as listas
#Comparar o len das listas

#Criar set das order_id de cada payment_type
lista_compras_com_voucher = set(df_order_payments.query("payment_type == 'voucher'")['order_id'].sort_values().tolist())
lista_compras_com_debito = set(df_order_payments_order_id_repetido.query("payment_type == 'debit_card'")['order_id'].sort_values().tolist())
lista_compras_com_credito = set(df_order_payments_order_id_repetido.query("payment_type == 'credit_card'")['order_id'].sort_values().tolist())
lista_compras_com_boleto = set(df_order_payments_order_id_repetido.query("payment_type == 'boleto'")['order_id'].sort_values().tolist())

#Transformar set em lista.
lista_compras_com_voucher_sem_repetidos = list (lista_compras_com_voucher)
lista_compras_com_debito_sem_repetidos = list (lista_compras_com_debito)
lista_compras_com_credito_sem_repetidos = list (lista_compras_com_credito)
lista_compras_com_boleto_sem_repetidos = list (lista_compras_com_boleto)

#Comparar lista de repetidos com lista original

In [31]:
len(lista_compras_com_voucher_sem_repetidos)

3866

In [32]:
#Verificar se tem order_id com payment_type voucher e payment_type debit_card

#Criar lista com repetidos
repetidos_voucher_debito = []

#Verificar

for i in lista_compras_com_voucher_sem_repetidos:
  for j in lista_compras_com_debito_sem_repetidos:
    if(i==j):
      repetidos_voucher_debito.append(i)
      break

len(repetidos_voucher_debito)

#Não tem

0

In [33]:
#Verificar se tem order_id com payment_type voucher e payment_type credit_card

#Criar lista com repetidos
repetidos_voucher_credito = []

#Verificar

for i in lista_compras_com_voucher_sem_repetidos:
  for j in lista_compras_com_credito_sem_repetidos:
    if(i==j):
      repetidos_voucher_credito.append(i)
      break

len(repetidos_voucher_credito)

#2245 order_id com payment_type voucher e payment_type credit_card

2245

In [34]:
#Verificar se tem order_id com payment_type debit_card e payment_type credit_card

#Criar lista com repetidos
repetidos_debito_credito = []

#Verificar

for i in lista_compras_com_debito_sem_repetidos:
  for j in lista_compras_com_credito_sem_repetidos:
    if(i==j):
      repetidos_debito_credito.append(i)
      break

len(repetidos_debito_credito)

#1 order_id com payment_type debit_card e payment_type credit_card

1

In [35]:
#Verificar se tem order_id com payment_type voucher e payment_type boleto

#Criar lista com repetidos
repetidos_voucher_boleto = []

#Verificar

for i in lista_compras_com_voucher_sem_repetidos:
  for j in lista_compras_com_boleto_sem_repetidos:
    if(i==j):
      repetidos_voucher_boleto.append(i)
      break

len(repetidos_voucher_boleto)

#Não tem

0

In [36]:
#Ver len de lista_compras_com_voucher_sem_repetidos e len de repetidos_voucher_credito, que são as que tem voucher

print(len(lista_compras_com_voucher_sem_repetidos) - len(repetidos_voucher_credito))

#1621 compras só voucher.
#Vou ver elas

1621

In [37]:
#Ver as compras só com voucher
#juntar as 2 listas numa só

lista_compras_so_com_voucher = lista_compras_com_voucher_sem_repetidos.copy()
lista_compras_so_com_voucher = list(set(lista_compras_so_com_voucher) - set(repetidos_voucher_credito))

In [38]:
#Ver as compras com voucher

#Vou usar loc. Para isso preciso passar os id_order par ao index. vou criar um novo DF.

#Copiar DF
df_order_payments_order_id_index = df_order_payments.copy()

#Mudar o indice
df_order_payments_order_id_index.set_index('order_id', inplace = True)

#df_order_payments_order_id_index

#Selecionar as linhas
df_order_payments_order_id_index = df_order_payments_order_id_index.loc[lista_compras_so_com_voucher].groupby('order_id').sum().sort_values('payment_value', ascending = False)

In [39]:
#Ver o novo DataFrame
df_order_payments_order_id_index

,payment_sequential,payment_installments,payment_value
order_id,,,
03310aa823a66056268a3bab36e827fb,1,1,3184.34
7813842ae95e8c497fc0233232ae815a,1,1,3184.34
afb61112fb99b07fe17e591c68c0c84c,1,1,2266.61
4df2b9c2c7b6eedea39ceb96eb54ad34,1,1,1839.05
c3fbba8f64cc6b2e99abc0e00d5ade2b,1,1,1400.33
...,...,...,...
e62274be42947be4c32c94897e0114ff,1,1,14.78
c60a7bc7ab46cda8a60c952aacc83a17,1,1,13.78
7c2ee08449e6b8b55158e518778dbe83,1,1,12.89
97369eeb115806c27ee2054105eabe97,1,1,12.39
47d11383b93b217d96defbb2ef1a209b,3,2,11.56

In [40]:
#Ver soma do payment_value
df_order_payments_order_id_index['payment_value'].sum()

185422.28000000003

In [41]:
#Ver estatística descritiva
df_order_payments_order_id_index.describe()

       payment_sequential  payment_installments  payment_value
count         1621.000000           1621.000000    1621.000000
mean             3.589143              1.627390     114.387588
std             14.681734              1.704197     183.986218
min              1.000000              1.000000      11.560000
25%              1.000000              1.000000      45.200000
50%              1.000000              1.000000      71.630000
75%              3.000000              2.000000     119.250000
max            435.000000             29.000000    3184.340000

In [42]:
# ver total de vendas sem voucher

df_order_payments.query("payment_type != 'voucher'")['payment_value'].sum()

15629435.25

#Criar um novo DF simples para exportar, juntar a outros DF e analisar o conjunto

In [43]:
#Criar um DF só com order_id e payment_value para juntar ao df_completo
df_order_payments_simples = df_order_payments.drop(['payment_sequential',	'payment_type',	'payment_installments'], axis =1)
df_order_payments_simples

                                order_id  payment_value
0       b81ef226f3fe1789b1e8b2acac839d17          99.33
1       a9810da82917af2d9aefd1278f1dcfa0          24.39
2       25e8ea4e93396b6fa0d3dd708e76c1bd          65.71
3       ba78997921bbcdc1373bb41e913ab953         107.78
4       42fdf880ba16b47b59251dd489d4441a         128.45
...                                  ...            ...
103881  0406037ad97740d563a178ecc7a2075c         363.31
103882  7b905861d7c825891d6347454ea7863f          96.80
103883  32609bbb3dd69b3c066a6860554a77bf          47.77
103884  b8b61059626efa996a60be9bb9320e10         369.54
103885  28bbae6599b09d39ca406b747b6632b1         191.58

[103886 rows x 2 columns]

In [44]:
#sumar os valores das order_id repetidas
df_order_payments_simples = df_order_payments_simples.groupby(['order_id'], as_index=False)['payment_value'].sum()
df_order_payments_simples

                               order_id  payment_value
0      00010242fe8c5a6d1ba2dd792cb16214          72.19
1      00018f77f2f0320c557190d7a144bdd3         259.83
2      000229ec398224ef6ca0657da4fc703e         216.87
3      00024acbcdf0a6daa1e931b038114c75          25.78
4      00042b26cf59d7ce69dfabb4e55b4fd9         218.04
...                                 ...            ...
99435  fffc94f6ce00a00581880bf54a75a037         343.40
99436  fffcd46ef2263f404302a634eb57f7eb         386.53
99437  fffce4705a9662cd70adb13d4a31832d         116.85
99438  fffe18544ffabc95dfada21779c9644f          64.71
99439  fffe41c64501cc87c801fd61db3f6244          55.79

[99440 rows x 2 columns]

In [45]:
#conferir que não tenha repetidos
df_order_payments_simples['order_id'].value_counts()

00010242fe8c5a6d1ba2dd792cb16214    1
ab2830d9aa052d7aee54359bc3f61d0c    1
ab30f8d4ebb7d33d1dcf54d420ea42cd    1
ab30f399d360ddf62897051d813f887d    1
ab30819331b8ee6115370bcfa01a8350    1
                                   ..
55538582ef35a95e5ed4047c6bf04695    1
5553543e89ef381e4ff08f6b91b94690    1
55534471fcbe2dd1436234e7cfa4de5a    1
55531bd6b11adf2791aeca35f0305e65    1
fffe41c64501cc87c801fd61db3f6244    1
Name: order_id, Length: 99440, dtype: int64

In [46]:
#Exportando o DF a .CSV
df_order_payments_simples.to_csv('df_order_payments_simples.csv')